.row
  .col-md-6.col-md-offset-3
    .card.border-primary.p-4
      if flashMsg.length > 0
        .alert.alert-danger <strong>FLASH!</strong>#{flashMsg}
      p Title: #{photo.title} 
      p Description: #{photo.description}
      p Size: #{photo.size} | Filename: #{photo.originalname} | Uploaded: #{photo.createdAt} | Modified: #{photo.updatedAt}
      img(src=photo.imageurl, width="250")
      
      form(method='POST', action="/photos/"+photo._id)
        .form-group
          label(for='title') Photo Title:
          input#name.form-control(type='text', name='title', value=photo.title)
        .form-group
          label(for='description') Description:
          input#description.form-control(type='text', name='description', value=photo.description)
        .form-group
          label(for='image') Image:
          input#id.form-control(type='hidden', name='_id', value=photo._id)
        button.btn.btn-primary(type='submit') Update Photo
